<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⛔Votação Encerrada⛔</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='img/claro_logo.png') }}" alt="Claro Logo" class="logo">
        <h1>⛔Votação Encerrada⛔</h1>
        <p>O período de votação foi encerrado às 18:00. Obrigado pela participação!</p>
        <a href="{{ url_for('resultado') }}" class="btn">Ver resultados finais</a>
    </div>
</body>
</html>
